body {
    background: radial-gradient(white);
}

.calculator {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    background-color: #C0C0C0;
    border-radius: 8px;
    padding: 30px;
}

#screen {
    font-size: 50px;
    background-color: black;
    height: 60px;
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: right;
    color: white;
    position: relative;
    float: right;
    padding-right: 10px;    
}

.numbers {
    float: left;
    width: 240px;
}

.numbers span {
    float: left;	
	width: 70px;
	height: 50px;	
	background: white;
	border-radius: 3px;	
	margin: 0 10px 15px 0;
	line-height: 40px;
	text-align: center;
    font-size: 25px;
    padding-top: 6px;
}

#zero {
    width: 150px;
}

.operators {
    float: right;
    width: 160px;
}

.operators span { 
    float: left;
	width: 70px;
	height: 50px;	
	background: white;
	border-radius: 4px;	
	margin: 0 10px 15px 0;
	line-height: 40px;
	text-align: center;
    font-size: 25px;
    padding-top: 6px;
}

.operators span:first-child {
    background-color: #CC3300;
}

.operators span:last-child {
    width: 150px;
	height: 50px;
    background-color: #E18A07;
}

* {
  box-sizing: border-box;
}