<!DOCTYPE html>
<html>
    <head>
        <title>Calculator
        </title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="calculator">
            <div id="screen" type="number"></div>
            <div class="numbers">
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span id='zero'>0</span>
                <span>.</span>
            </div>
            <div class="operators">
                <span>C</span>
                <span>%</span>
                <span>+</span>
                <span>-</span>
                <span>*</span>
                <span>/</span>
                <span>=</span>
        </div>
        <script type="text/javascript" src="../calculator.js"></script>
    </body>
</html>